[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rcdk"]
	path = rcdk
	url = https://github.com/cdk-r/cdkr
	subdir = rcdk
[submodule "rcdklibs"]
	path = rcdklibs
	url = https://github.com/cdk-r/rcdklibs
